.imc_calculator {
  margin: 3rem 0;
}

.imc_calculator h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.imc_calculator-form {
  width: 30%;
}

.imc_calculator-form label {
  display: block;
  margin-bottom: 1rem;
}

.imc_calculator-form input {
  font-size: 16px;
  width: 75%;
  margin: 5px 5px 0 0;
  padding: 0.5rem;
  border-radius: 5px;
}

.button_calculate {
  font-size: 16px;
  width: 80%;
  padding: 0.5rem 0;
  background-color: #7c7c7c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-result {
  margin: 1rem 0;
}

@media (max-width: 1023px) {
  .imc_calculator-form {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .imc_calculator-form {
    width: 100%;
  }

  .button_calculate {
    width: 78%;
  }
}

@media (max-width: 550px) {
  .button_calculate {
    width: 80%;
  }
}
